/* --- BASE html SETTINGS --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}


/* --- GLOBAL VARIABLES --- */
:root {
    --text-color: hsl(145, 63%, 49%)
}

#globvar {
    background: brown;
    width: 200px;
    margin-top: 20px !important;
    margin: auto;
    color: var(--text-color); /* global variable use case */
}

/* --- SQUARE LAYOUT --- */
#square {
    background: cadetblue;
    display: block;
    width: 25rem;
    margin: 10px;
    aspect-ratio: 2/2; /* square setting */
}

/* --- CENTER ITEM --- */
#center {
    background: blueviolet; 
    display: block; 

    /* center settings */
    width: 25rem;
    margin: auto;
    height: 200px;
}

/* --- DROP CAP EFFECT --- */
#drop-cap::first-letter {
    font-size: 200px;
    color: darkblue;

    /* optional settings */
    margin: 10px;
    width: 90vw;
    text-align: center;
}


/* --- INSERT CONTENT BEFORE --- */
.before::before {
    content: "I am an inset text before the main test...";
    color: var(--text-color);
    font-weight: bolder;
}

/* --- INSERT TEXT AFTER --- */
.after::after {
    content: "....I am an inserted text after main text";
    color: var(--text-color);
    font-weight: 900;
}
